.contactItem{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.contactItem__text{
    font-size: 18px;
    font-weight: bold;
    color :blue;
}
.contactItem__button{
    font-size: 18px;
    font-weight: bold;
    color :blue;
    cursor : pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid blue;
    background-color: yellow;
}
